.tab {
  &__button {
    padding: 2rem 1rem;
    border: 1px solid white;
    background-color: white;
    border: 1px solid blueviolet;
    color: black;
    border-radius: 1rem;
    &.active {
      color: white;
      background-color: blueviolet;
    }
  }
  &__txt {
    display: none;
    color: black;

    &.active {
      display: block;
    }
  }
}
