//-: --------------------------------------Наследование шаблона 
extends ../shared/settings/template/_template.pug
//-: --------------------------------------Наследование шаблона 


include ../features/tab/_tab.pug
include ../features/darktheme/_darktheme.pug
include ../features/localform/_localform.pug






//-: --------------------------------------BODY

block content
  +darktheme()
  .second-block
    +localform()
    p Lorem, ipsum dolor.

