//-: --------------------------------------Наследование шаблона 
extends ../shared/settings/template/_template.pug
//-: --------------------------------------Наследование шаблона 


//- ! Подключение component
include ../features/todolist/_todolist.pug

include ../features/todolist/_todolist.pug
//- ! Подключение component


//-: --------------------------------------BODY

block content
  section.hero
    .hero__container
      h1.hero__title TODOLIST

      //-: --------------------------------------Подключение компонента
      +Todolist()
      //-: --------------------------------------Подключение компонента


