mixin darktheme()
  .darktheme
    button.darktheme__button(type="button" id='theme-switch') <span>Dark</span> Theme
    .darktheme__description
      p Темная тема помогает уменьшить нагрузку на глаза при работе в ночное время.Она также может снизить энергопотребление на устройствах с OLED-экранами. Использование темной темы может способствовать улучшению концентрации и снижению отвлекающих факторов. Это особенно полезно для людей, которые работают в условиях низкой освещенности или предпочитают более мягкие цвета интерфейса

      p Темная тема помогает уменьшить нагрузку на глаза при работе в ночное время.Она также может снизить энергопотребление на устройствах с OLED-экранами. Использование темной темы может способствовать улучшению концентрации и снижению отвлекающих факторов. Это особенно полезно для людей, которые работают в условиях низкой освещенности или предпочитают более мягкие цвета интерфейса