// -----Color project

$black: #000000;
$white: #ffffff;

// -----Color project
:root {
  --main-color: #3a425c;
  --primary-color: #3a425c;
  --secondory-color: #101324;
  --text-color: #fff;
  --accent-color: #0071ff;
  --cancel-color: #ff0000;
}

// -----Color project
$main-color: #fff;
$primary-color: #3a425c;
$secondory-color: #101324;
$text-color: #111528;
$accent-color: #0071ff;
// -----Color project
